.headLine {
  text-align: center;
}
.inputField {
  appearance: none;
  padding: 10px;
  background-color: #f7f7f7;
  color: black;
  height: 50px;
  width: 100%;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.3rem;
}

.signinButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.3rem;
  background-color: #A63D3F;
  color: #e7e7e7;
}

.registerLink {
  text-align: center;
  color: white;
}